name: cypress allure example

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install cypress and verify
        run: |
          npm ci
          $(npm bin)/cypress verify

      - name: Run Cypress tests
        run: npm run cy:run
        continue-on-error: true

      - name: Generate Allure report
        run: npm run allure:report

      - name: Copy test execution videos, screenshots and reports
        run: |
          mkdir public
          cp -r cypress/screenshots public/screenshots
          cp -a allure-report/. public
          cp -r allure-results public/allure-results
      
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public